ion-content {
    --background: #000000;
}

.hedge{
    --background: #000000; 
}


 
ion-footer {
    margin-bottom: 10px;
}
 
ion-slides {
    height: 100%;
}

.btnMore{
   padding:5px;
   position:absolute;
   top:0;
   left:0;
} 

.btnNo{
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.comment{
    --background: #1b1a1a;
    background-color: #1b1a1a;
    background: #1b1a1a;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.profile-pic {
    height: 30px;
    width: 30px;
    border: 4px solid #2b61f7;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}