<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-list>
    <ion-button *ngFor="let item of radioList" (click)="play(item.source)">
        {{item.name}}
    </ion-button>
</ion-list>

<ion-button (click)="stop()">Stop</ion-button>-->

  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-slides class="banner" pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let step of adverts" (click)="goAdsDetails(step.url)" class="background-size"
            [ngStyle]="{ 'background': 'url(' + step.image + ')'}">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let item of radioList">
      <ion-thumbnail slot="start">
        <img src="{{item.cover}}" />
      </ion-thumbnail>
      <ion-label>
        <h2><b>{{item.name}}</b></h2>
        <p>{{item.artist}}</p>
      </ion-label>
      <ion-button (click)="play(item.source)">Play</ion-button>
      <ion-button (click)="stop()">Stop</ion-button>
    </ion-item>
  </ion-list>

  <!--<ion-list>
  <ion-item *ngFor="let item of radioList" (click)="playRadio(item.name, item.artist, item.cover, item.url)">
    <ion-thumbnail slot="start">
     <img src="{{item.cover}}"/>
    </ion-thumbnail>
    <ion-label>
      <h2><b>{{item.name}}</b></h2>
      <p>{{item.artist}}</p>
    </ion-label>
  </ion-item>
</ion-list>


<div class="ion-text-center" id="fullPlayer">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="minimize()">
        
        <ion-icon slot="icon-only" src="assets/multimedia.svg" style="width: 24px; height: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="{{currImage}}" id="currImage"/>
  <h2>{{currTitle}}</h2>
  <p>{{currSubtitle}}</p>
  <ion-item lines="none">
    <ion-range #range (touchmove)="touchmove()" (touchend)="touchEnd()" (touchstart)="touchStart()" max="{{maxRangeValue}}" [(ngModel)]="currRangeTime">
    <ion-label slot="start">
      <ion-text>
        <b>{{currSecsText}}</b>
      </ion-text>
    </ion-label>
    <ion-label slot="end">
      <ion-text>
        <b>{{durationText}}</b>
      </ion-text>
    </ion-label>
    </ion-range>
  </ion-item>
  <ion-button fill="clear" mode="ios" (click)="playPrev()">
    <ion-icon name="play-skip-back-outline" style="font-size: 30px;"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" (click)="play()" *ngIf="!isPlaying">
    <ion-icon name="play" style="font-size: 40px;"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" (click)="pause()" *ngIf="isPlaying">
    <ion-icon name="pause" style="font-size: 40px;"></ion-icon>
  </ion-button>
  <ion-button fill="clear" mode="ios" (click)="playNext()">
    <ion-icon name="play-skip-forward-outline" style="font-size: 40px;"></ion-icon>
  </ion-button>

  <ion-list-header>
    Up Next
  </ion-list-header>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{upNextImg}}"/>
     </ion-thumbnail>
     <ion-label>
       <h2>{{upNextTitle}}</h2>
       <p>{{upNextSubtitle}}</p>
     </ion-label>
  </ion-item>
</div>

  <ion-toolbar id="miniPlayer">
    <ion-item>
      <ion-thumbnail slot="start" (click)="maximize()">
        <img src="{{currImage}}"/>
       </ion-thumbnail>
       <ion-label>
         <h2>{{currTitle}}</h2>
         <p>{{currSubtitle}}</p>
       </ion-label>
       <ion-button fill="clear" mode="ios" (click)="play()" *ngIf="!isPlaying">
        <ion-icon name="play" style="font-size: x-large;"></ion-icon>
      </ion-button>
      <ion-button fill="clear" mode="ios" (click)="pause()" *ngIf="isPlaying">
        <ion-icon name="pause" style="font-size: x-large;"></ion-icon>
      </ion-button>
      <ion-button fill="clear" mode="ios" (click)="cancel()">
        <ion-icon name="close" style="font-size:x-large;"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-progress-bar value="{{progress}}"></ion-progress-bar>
  </ion-toolbar>-->
</ion-content>