<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/business"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" *ngIf="!showUploadImage">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="name"
          placeholder="Business Name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <ion-item lines="none" class="transparent input box-shadow border-radius" lines="none">
          <ion-label class="text-size-sm text-color-accent font-regular">Business Category</ion-label>
         <ion-select class="text-size-sm text-color-accent font-regular" multiple="false" [(ngModel)]="category">
             <ion-select-option  value="{{item.$key}}" *ngFor="let item of CategoriesList">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="open"
          placeholder="Opening time (optional)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="close"
          placeholder="Closing time (optional)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text"
          placeholder="Location" [(ngModel)]="location" (focusin)="shareLocation()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <!---Input field description -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-textarea rows="4" 
          placeholder="Description" [(ngModel)]="description"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="phoneNumber"
          placeholder="Phone"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="website"
          placeholder="Website (optional)"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="facebook"
          placeholder="Facebook Link (optional)"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <!---Input field name -->
        <ion-item class="transparent input box-shadow border-radius" lines="none">
          <ion-input type="text" [(ngModel)]="youtube"
          placeholder="Youtube Video ID e.g. 9ao4FEaDGhQ (optional)"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <!--- Button Write comments -->
        <ion-button class="ion-float-end ion-margin-top button-round ion-text-capitalize"
        shape="round" fill="outline" (click)="goImageUpload()" [disabled]="!name || !category || !description || !location || !phoneNumber">Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding" *ngIf="showUploadImage">
    <ion-row>

   <ion-col class="ion-no-padding" size="12">
    <div class="profile-image">
      <p style="text-align: center; font-weight: bold;">Add Photos</p>
      <div *ngIf="imageResponse.length === 0" (click)="presentImageSheet()">
          <img src="assets/upload.jpg">
      </div>
      <section *ngFor="let item of imageResponse">
      <div *ngIf="imageResponse.length === 1">
          <img [src]="item.src" >
          <ion-icon name="close" color="danger" (click)="removePhoto(item)"></ion-icon>
      </div>
      </section>
      <div class="image-upload" (click)="presentImageSheet()">
         <!--<label for="file-input">-->
          <label>
            <ion-icon name="camera" class="input" color="primary"> </ion-icon>
          </label>
          <!--<input id="file-input" type='file' (change)="onSelectFile($event)" />-->
      </div>
    </div>

    <ion-grid *ngIf="imageResponse.length === 2">
      <ion-row>
        <ion-col size="4" *ngFor="let image of imageResponse">
          <img [src]="image.src"/>
          <ion-icon name="close" color="danger" (click)="removePhoto(image)"></ion-icon>
        </ion-col>
        <ion-col size="4" (click)="presentImageSheet()">
          <img src="assets/upload.jpg"/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="imageResponse.length === 3">
      <ion-row>
        <ion-col size="4" *ngFor="let image of imageResponse">
          <img [src]="image.src"/>
          <ion-icon name="close" color="danger" (click)="removePhoto(image)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-col>

    <ion-col class="ion-no-padding" size="12">
      <ion-button class="ion-float-start ion-margin-top button-round ion-text-capitalize"
      shape="round" fill="outline" (click)="goBack()">Go Back
      </ion-button>
      <ion-button class="ion-float-end ion-margin-top button-round ion-text-capitalize"
      shape="round" fill="outline" (click)="goSubmit()">Submit
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
  

  


</ion-content>


