.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.announcement {
    background-color: rgb(253, 251, 251);
    color: var(--ion-color-primary-contrast);
    text-align: center;
    //color: #000000;
  }