<ion-content>
  <div class="ion-padding ion-text-center">
    <h3><b>Rate Mopays</b></h3>
    <p class="ion-text-wrap">If you enjoy using Mopays, would you mind taking a moment to rate it? It won't take more than a minute.</p>
    <p>Thanks for your support!</p>
  </div>

  <div class="ion-text-center">
    <ion-button shape="round"  style="text-transform: none;" (click)="goRating()" style="color: white;">Rate Mopays</ion-button>
  </div>
  <ion-item (click)="noShow()">
      Don't Show me this again
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
   
</ion-content>
