ion-content {
    .home{
      background: blue;
      color: white;
      margin-top: 15px;
  }
  .toolbar-title{
  text-align: center;
  }
  .tabs-md .tab-button-icon{
  color: white;
  }
  
  .temp{
  font-size:60px;
  text-align:center;
  }
  
  .location, .icon, .desc{
  text-align: center;
  }
  .icon img{
  width:90px;
  }
  }