<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>

      <ion-col class="ion-no-padding" size="12">
        <ion-item lines="none" class="transparent input box-shadow border-radius" lines="none">
          <ion-input placeholder="Group Name" [(ngModel)]="items.name"></ion-input>
        </ion-item>
      </ion-col>
   

      <ion-col class="ion-no-padding" size="12">
        <ion-item lines="none" class="transparent input box-shadow border-radius" lines="none">
          <ion-textarea rows="4" placeholder="Group Description" [(ngModel)]="items.description"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col class="ion-no-padding" size="12">
        <ion-item lines="none" class="transparent input box-shadow border-radius" lines="none">
          <ion-textarea rows="4" placeholder="Group Rules" [(ngModel)]="items.rules"></ion-textarea>
        </ion-item>
      </ion-col>

       <ion-col class="ion-no-padding" size="12">
         <div class="profile-image">

      <div *ngIf="items.image">
          <img src="{{items.image}}" >
      </div>

      <div class="image-upload">
        
           <label for="file-input">
            <ion-icon name="camera" class="input" color="primary"> </ion-icon>
          </label>
          <input id="file-input" type='file' (change)="onSelectFile($event)" />
      </div>
    </div>
    </ion-col>

    <ion-col class="ion-no-padding" size="12">
    
      <ion-button class="ion-float-end ion-margin-top button-round ion-text-capitalize"
      shape="round" fill="outline" (click)="updateGroup()" [disabled]="!items.name || !items.description || !items.rules">Update
      </ion-button>
    </ion-col>

    </ion-row>

    <ion-col class="ion-no-padding" size="12">
      <h4>Group Members</h4>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <ion-searchbar placeholder="Search member" [(ngModel)]="term"></ion-searchbar>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <ion-list>
          <ion-item class="transparent box-shadow border-radius ion-margin-top
          margin-half-start margin-half-end" lines="none"
          *ngFor="let member of myGroupMembers | filter:term" (click)="goProfile(member.uid)"> 
            <!--Avatar-->
            <ion-avatar slot="start" class="story-avatar" [ngClass]="{'seen': false}">
              <img [src]="member.photoURL">
            </ion-avatar>
            <ion-label>
              <!--Title-->
              <h2 class="text-size-xs  font-bold">
                {{member.displayName}}</h2>
                <p *ngIf="member.status == 'online'" style="color: green; font-weight: bold;">Online</p>
                <p *ngIf="member.status == 'offline'" style="color: red; font-weight: bold;">Offline</p>
                <p *ngIf="member.status == 'away'" style="color: orange; font-weight: bold;">Away</p>
            </ion-label>
            <ion-button fill="outline" (click)="removeMember(member.uid, items.$key)" *ngIf="member.uid != items.userId">Remove</ion-button>
            <ion-button fill="outline" *ngIf="member.uid === items.userId">Admin</ion-button>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-grid>
  


</ion-content>
