<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs
  [activeTabIndex]="0"
  [config]="{ avoidElements: true, maxDragAngle: 30 }"
>
  <super-tabs-toolbar slot="top" scrollable class="super-tabs-toolbar-custom">
    <super-tab-button>
      <ion-label style="color: white;">Latest News</ion-label>
    </super-tab-button>

    <super-tab-button *ngFor="let item of newsCategoryList">
      <ion-label style="color: white;">{{ item.name }}</ion-label>
    </super-tab-button>
  
   
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
     <app-latest></app-latest>
      </ion-content>
    </super-tab>

    <super-tab *ngFor="let item of newsCategoryList">
      <ion-content>
        <ion-nav [root]="newsDetailsPage" [rootParams]="{ id: item.id}"></ion-nav>
      </ion-content>
    </super-tab> 
  </super-tabs-container>
</super-tabs>


<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
         
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let step of adverts" (click)="goAdsDetails(step.url)" 
                    class="background-size"
                        [ngStyle]="{ 'background': 'url(' + step.image + ')'}">
              </ion-slide>
            </ion-slides>
      </ion-col>
  

    </ion-row>
  </ion-grid>

        <div class="top-features">
          <ion-item class="transparent ion-no-padding" lines="none">
            <h2 class="text-size-pp  font-bold ion-text-wrap
            ion-padding-start ion-no-margin" slot="start" style="color: #00a8e1;">
            News Categories</h2>
          </ion-item>
          <div class="stories-card topfeatures image-carousel sliderBook">
            <ion-card class="image-card" *ngFor="let item of newsCategoryList" (click)="goNews(item.id, item.name)">
              <img src="{{item.img}}" alt="" style="height:120px; width: 100%">
              <ion-card-content>
                <ion-card-subtitle class="name_title" >
                  <h2>{{item.name}}</h2>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </div> 
        </div>

        <div *ngIf="jobCategories.length === 0">
          <div class="stories-card topfeatures image-carousel sliderBook">
            <ion-card class="image-card" *ngFor="let item of dummy">
              <ion-skeleton-text animated style="width: 100%; height: 120px;"></ion-skeleton-text>
              <ion-card-content>
                <ion-card-subtitle class="name_title" >
                  <ion-skeleton-text animated style="width: 50px;"></ion-skeleton-text>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </div> 
        </div>
        <ion-item class="transparent ion-no-padding" lines="none">
        
          <h2 class="text-size-pp  font-bold ion-text-wrap
          ion-padding-start ion-no-margin" slot="start" style="color: #00a8e1;">
          Latest News</h2>
        </ion-item>
       
        <ion-list>
          <ion-item class="border-radius box-shadow listpart listBox" lines="none"
          *ngFor="let post of posts | slice:0:10" (click)="goToPostDetails(post)">
          
            <ion-thumbnail class="border-radius" slot="start">
               <img [src]="post.media_url" width="200px" height="200px">
             
    
            </ion-thumbnail>
      
            <ion-label>
              <h3  class="ion-text-wrap text-size-xp text-color-accent font-bold" *ngIf="post.title && post.title.rendered">
                {{post.title.rendered}}
              </h3>
      
                <p  class="text-size-sm text-color-primary font-regular ion-text-wrap ion-margin-top">
                  {{post.date_gmt}}</p>

            </ion-label>
          </ion-item>
          </ion-list>

          <ion-list *ngIf="posts.length === 0">
            <ion-item class="border-radius box-shadow listpart listBox" lines="none">
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated style="width: 200px; height: 200px;"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <ion-skeleton-text animated style="width: 60px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20px;"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-list>
    
        
          <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>

          <ion-infinite-scroll (ionInfinite)="loadMores($event)">
            <ion-infinite-scroll-content>
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
  
      
       
  
  
</ion-content>-->





 
