/* Style component 3
=============================*/

.background-size {
    height: 250px;
    position: relative;
  }
  
  ion-col {
    background: var(--cs-background-primary);
  
    ion-item {
      --inner-padding-end: 0;
    }
  }
  
  .slider {
    overflow-x: scroll;
    display: -webkit-inline-box;
    display: flex;
    flex-direction: row;
  
    ion-card {
      margin: 0 8px 0 0;
      position: relative;
      width: 200px;
      flex: none;
  
      ion-img {
        overflow: hidden;
      }
    }
  }
  