<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
	<ion-toolbar>
   
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="goBack()">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="ion-text-center description">
    <h1 class="ion-text-center custom-font"  style="color: white;"><b>Reset Password</b></h1>
  </div>

<div class="ion-padding">
   
  <form [formGroup]="resetPasswordForm" class="ion-padding"> 

    <div class="wrap-input description">
    <ion-input class="input" formControlName="email"
    type="email"
    placeholder="Your email address"
    [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"></ion-input>
    </div>

    <ion-item
        class="error-message"
        *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"
      >
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>

    <div class="container-form-btn">
      <ion-button expand="block" class="form-register" color="primary" (click)="resetPassword(resetPasswordForm)"
      [disabled]="!resetPasswordForm.valid">
        Get Password Link
      </ion-button>
    </div> 
    
    <br>
    
  

  </form>

 

</div>



</ion-content>

<ion-footer class="ion-no-border">

