
<ion-content>
  <Section *ngIf="posts">
  <ion-slides pager="true">
    <ion-slide *ngFor="let step of adverts" (click)="goAdsDetails(step.url)" 
          class="background-size"
              [ngStyle]="{ 'background': 'url(' + step.image + ')'}">
    </ion-slide>
  </ion-slides>
  <div class="container-view">
    <ion-card class="card-custom" *ngFor="let post of posts" (click)="goToPostDetails(post)">
        <!--<div *ngIf="post.media_url" class="header-image background-size" [ngStyle]="{'background': 'url(' + post.media_url + ')'}">--> 
          <img src="{{post.media_url}}" width="100%" height="270px" *ngIf="post.media_url">
      <!--</div>-->
      <ion-grid>
        <ion-row>
          <ion-col size="auto" size="12">
            <ion-button fill="clear" size="small" color="medium">
              {{post.date}}
            </ion-button>
          </ion-col>
          <ion-col class="ion-padding" size="12">
            <div class="card-caption" *ngIf="post.title && post.title.rendered" style="color:black; font-weight: bold">
              {{post.title.rendered}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  </Section>

  <!--<ion-infinite-scroll (ionInfinite)="getPosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more news..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>-->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading more posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <Section>
    <div class="container-view">
      <ion-card class="card-custom" *ngFor="let item of [0,1,2,3,4,5,6]">
            <ion-skeleton-text animated style="width: 100%; height: 270px;"></ion-skeleton-text>
        <ion-grid>
          <ion-row>
            <ion-col size="auto" size="12">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
            <ion-col class="ion-padding" size="12">
              <div class="card-caption" style="color:black; font-weight: bold">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </Section>
    
