ion-list {
    --background: transparent !important;
    background: transparent !important;

    ion-item {
     --background: rgba(255, 255, 255, 0.02) !important;
      //color: white;
      margin: 10px;
      width: calc(100% - 20px) !important;

      .icon-font-sm {
        font-size: var(--icon-size-small) !important;
        color: gray;
      }
    }
  }